/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.lightbox-0.5
*/

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.notice, .alert {
  text-align: center;
}
.notice {
  background:#bff6bf;
  color:#514721;
  border-color:#99d399;
}

ul.comments-list {
  list-style-type: none;
}

.comment-author-datetime {
  color: 818181;
//  font-size: 0.8em;
}

li.comment {
  background-color: #eeeeee;
  margin-bottom: 10px;
}

p.comment-text {
  font-size: 1.2em;
}

.comment-post-actions {
}

.comment-post-field {
}
