// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaflet-container a {
  color: #922A2A;
}

.feature-popup-navigation ul li {
  list-style-type: none;
}

#feature-popup-contents p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;
}

.navigation ul li {
  list-style-type: none;
}

.custom-block {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;
}

.top-features {
  max-height: 400px;
  overflow: auto;
}

div.popup-loading {
  background-image: url("ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
}

.loading {
  background-image: url("ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: none;
//  float: right;
}

.leaflet-div-icon-existing {
  background-image: url("marker-bicycle-parking-24px.png");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: right;
  color: #ffff00;
  border: none;
}

.leaflet-div-icon-desired {
  background-image: url("marker-red-circle-24px.png");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
  border: none;
}

.leaflet-div-icon-desired strong {
  position: relative;
  top: 4px;
}

.top-features ul {
  padding-left: 5px;
}
.top-features ul li {
  list-style-type: none;
  margin-bottom: 15px;
  margin-top: 5px;
}

.feature-list-icon {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

.top-features .feature a {
  color: #4D4D4D;
  text-decoration: none
}

.feature-list-text {
  width: 65%;
  float: right;
  position: relative;
  right: 0;
  top: 0;
}

.feature-notapproved {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.feature-approved {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}


h3#popup-title {
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 5px;
}

#feature-popup-contents .field {
  width: 250px;
}

.mandatory label:before {
  content: '*';
  color: red;
}

div.hidden {
  display: none;
}

#like_widget {
  width: 100%;
  text-align: center;
}

#like_widget h5 {
  margin-bottom: 0;
  margin-top: 0.5em;
}

#feature-popup-rating {
  font-size: 20pt;
}


