// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature-popup-navigation ul li {
  list-style-type: none;
}

.navigation ul li {
  list-style-type: none;
}

.top-features {
  height: 800px;
  overflow: auto;
}

div.popup-loading {
  background-image: url("ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
}

.loading {
  background-image: url("ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: none;
//  float: right;
}

.leaflet-div-icon-existing {
  background-image: url("marker-bicycle-parking-24px.png");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: right;
  color: #ffff00;
  border: none;
}

.leaflet-div-icon-desired {
  background-image: url("marker-red-circle-24px.png");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
  border: none;
}

.feature-notapproved {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.leaflet-div-icon-desired strong {
  position: relative;
  top: 4px;
}

