<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то (возможно, Вы) запросил ссылку для того, чтобы изменить Ваш пароль. Вы можете сделать это, кликнув по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали этого, пожалуйста, игнорируйте данное письмо</p>
<p>Ваш пароль не будет изменён, пока вы не пройдёте по ссылке выше и не установите новый</p>
