  <span id="feature-popup-rating" class="feature-rating"><%= @feature.rating -%></span>
  <% unless current_user.nil? %>
    <% if @feature.users_liked.include? current_user %>
      <a href="#" rel="nofollow" id="feature-popup-like" class="feature-rating">Не нравится</a>
    <% else %>
      <a href="#" rel="nofollow" id="feature-popup-like" class="feature-rating">Нравится</a>
    <% end %>
  <% end %>

