<div id="feature-popup-nav"><a id="edit-link">Edit</a></div>

<div>
  <strong>Место:</strong><br/>
  <%= @feature.description %>
</div>
<div>
  <strong>Ёмкость:</strong>
  <%= @feature.capacity %>
</div>
<div>
  <strong>Комментарий:</strong><br/>
  <%= @feature.comment %>
</div>



