<h2>Список мест</h2>


<%= render :partial => 'features-list', :locals => { :features => @features, :show_photo => true } %>

<%= link_to 'Скачать как CSV', features_path(:format => 'csv') if admin_logged_in? %>
