<div id="feature-popup-header">
  <img src="/assets/marker-icon.png"/>
  <div id="like_widget">
    <%= render 'like_widget' %>
  </div>
</div>
<div id="feature-popup-contents">

  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end -%>

  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end -%>

  <%= yield %>
</div>
